variable "aws_region" { default = "us-gov-west-1" }
variable "aws_azs" { default = ["a", "b", "c"] }
variable "default_tags" { default = {} }
variable "infrastructure_id" { }
variable "clustername" { }
variable "domain" { }
variable "bootstrap_ssh_public_key" { default = "./openshift_pull_secret.json" }
variable "bootstrap_config" { default = { user = "core", type = "m5.xlarge", disk = "30", ami = "ami-489ea829"} }
variable "bootstrap_ign_path" {
  type = string
  default = "data/bootstrap.ign"
  description = "Path to the ignition file for the boostrap node"
}
